.container{
  width:80%;
  margin:auto;
  font-family:Arial;
}

input,select{
  margin:10px;
  padding:8px;
}

.posts{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
}

.card{
  border:1px solid #ddd;
  padding:15px;
  border-radius:8px;
  background:#f9f9f9;
}
